.dsc-catalog-card-top {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  flex-direction: column;
}

.dsc-catalog-card-top img {
  width: 150px;
  height: 150px;
}

.dsc-catalog-card-bottom {
  padding: 15px 10px;
  min-height: 110px;
}


.dsc-catalog-card-bottom h4 {
  color: var(--dsc-color-font-primary);
  font-size: 12px;
}

.dsc-city-h3 {
  color: #005799;
font-feature-settings: 'ss01' on;
font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.22px;
}
.dsc-city-h4 {
  color: #005799;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.dsc-city-p {
  color: #414E58 !important;
font-family: Raleway;
font-size: 12px !important;
font-style: normal;
font-weight: 400;
line-height: 16px;
}

.dsc-time-button {
  width: 100%;
  height: 100%;
  position: relative;
  background: #F0AC0F !important;
  border-radius: 8px;
}



.divider {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.10);
}


.custom-alert {
  max-width: 400px;
  height: auto;
  background-color: #fff;
}

.alert {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.dot {
  width: 16px;
  height: 25px;
  flex-shrink: 0;
  fill: #161A1D;
}

.time-label {
  color: #161A1D;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'ss01' on;
  font-family: Open Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin-left: 6px;
  white-space: nowrap;
}

.time-content {
  display: flex; /* Torna o conteúdo do tempo um flex container */
  align-items: center; /* Centraliza os itens verticalmente */
  margin-left: 10px; /* Espaçamento entre o rótulo e o conteúdo do tempo */
}

.time-part {
  color: var(--content-content-primary, #161A1D);
  text-align: right;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'ss01' on;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
  display: flex; /* Torna a parte do tempo um flex container */
  align-items: center; /* Centraliza os itens verticalmente */
}

.hour, .minute {
  color: var(--content-content-primary, #161A1D);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'ss01' on;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  margin-left: 5px; /* Espaçamento entre os números das horas e os minutos */
}

.user-icon {
  width: 14px;
height: 17.499px;
flex-shrink: 0;
  fill: #161A1D;
}

.user-label {
  color: #161A1D;
font-size: 10px;
font-family: Open Sans;
font-weight: 600;
line-height: 22px;
word-wrap: break-word
  }

.user-part {
color: #161A1D;
font-size: 16px;
font-family: Raleway;
font-weight: 700;
line-height: 22px;
word-wrap: break-word
}