/* Catalog Card Component */
.dsc-catalog-card {
  width: 232px;
  height: 353px;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f9fafb;
  border-radius: 4px;
  overflow: hidden;
}
.dsc-catalog-card-bottom {
  padding: 16px 4px;
  min-height: 110px;
}

.dsc-city-h3 {
  color: #005799;
  font-size: 22px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.22px;
  word-wrap: break-word;
}
.dsc-city-h4 {
  color: #005799;
  font-size: 14px;
  font-family: Raleway;
  font-weight: 600;
  line-height: 18px;
  word-wrap: break-word;
  width: 210px;
  height: 36px;
  padding-right: 3px;
}

.dsc-city-p {
  color: #414e58;
  font-size: 12px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
  padding-bottom: 10px;
}

.dsc-time-button {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f0ac0f !important;
  border-radius: 8px;
}
.custom-alert {
  max-width: 400px;
  height: auto;
  background-color: #fff;
}

.alert {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.dsc-iconclock img {
  width: 16px;
  height: 25px;
  flex-shrink: 0;
  fill: #161a1d;
}

.time-label {
  color: #161a1d;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "ss01" on;
  font-family: Open Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin-left: 6px;
  white-space: nowrap;
}

.time-content {
  display: flex; /* Torna o conteúdo do tempo um flex container */
  align-items: center; /* Centraliza os itens verticalmente */
  margin-left: 10px; /* Espaçamento entre o rótulo e o conteúdo do tempo */
}

.time-part {
  color: var(--content-content-primary, #161a1d);
  text-align: right;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "ss01" on;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
  display: flex; /* Torna a parte do tempo um flex container */
  align-items: center; /* Centraliza os itens verticalmente */
}

.hour,
.minute {
  color: var(--content-content-primary, #161a1d);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "ss01" on;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  margin-left: 5px; /* Espaçamento entre os números das horas e os minutos */
}
.dsc-divider img {
  width: 100%;
  height: 100%;
  border: 1px dotted rgba(0, 0, 0, 0.1);
}

.user-icon img {
  width: 14px;
  height: 17.499px;
  flex-shrink: 0;
  fill: #161a1d;
}

.user-label {
  color: #161a1d;
  font-size: 10px;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

.user-part {
  color: #161a1d;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 22px;
  word-wrap: break-word;
}

.number {
  color: #161a1d;
  word-wrap: break-word;
  text-align: right;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "ss01" on;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.letter {
  color: #161a1d;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;
}

.card {
  width: 258px;
  height: 351px;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f9fafb;
}

.rectangle-icon img {
  width: 260px;
  height: 6px;
  flex-shrink: 0;
}
